[submodule "frontend"]
	path = frontend
	url = https://github.com/IT-Cotato/11th-StageMate-FE.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/IT-Cotato/11th-StageMate-BE.git
	branch = develop
[submodule "backend2"]
	path = backend2
	url = https://github.com/IT-Cotato/11th-StageMate-BE-2.git
	branch = develop
